* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1)), linear-gradient(rgba(0,0,0,0.3)), url("./images/background.jpg");
    background-size: cover;
    background-position: left 80%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: hidden;
    backdrop-filter: 8px;
    color: whitesmoke;  
    display: flex;
    align-items: center;
}

.main-container {
    position: relative;
    width: 500px;
    border-radius: 10px;
    margin-left: 1em;
    padding: 0.1em;
    outline: 1px solid whitesmoke;
    /* outline-style:dotted; */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.header {
    padding: 1em 2em 0 2em;
    font-family: "Akaya Telivigala", system-ui;
    background-color: brown;
    background-image: linear-gradient(#161616, brown);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.header .header-div {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    gap: 2em;
}

.header #logo {
    width: 100px;
    filter: drop-shadow(-5px -2px 0px white) drop-shadow(5px -2px 0px white);
}

.header .heading {
    font-size: 1.4rem;
}

.header span {
    font-size: 2.4rem;
}

main {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

/* Emotions main section styling */

.main-section {
    display: flex;
    align-items: center;
    padding-left: 2em;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-bottom: 2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.checkbox-btn {
    align-self: flex-start;
    margin-top: 100px;
}

input[type="checkbox"]:checked{
    accent-color: brown;
}

.main-section h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 1em;
    margin-bottom: 1.4em;
}

.emotions-container .emotion-div:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.emotions-container .emotion-div {
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    width: 220px;
    border: 1px solid whitesmoke;
    padding: 0.4em 0.6em;
}

.emotion-div input {
    margin-left: auto;
}

.emotion-div label {
    width: 100%;
    cursor: pointer;
    text-align: left;
}

.emotion-div:hover,
.emotion-div:focus {
    background-color: rgba(255, 255, 255, 0.2);
    color: whitesmoke;
}

.checked {
    background-color: whitesmoke;
    color: brown;
    accent-color: brown;
    border-color: brown;
}

.emotions-container .emotion-div:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* checkbox and button styling */

.isGif-div {
    display: flex;
    align-items: center;
    gap: 7px;
    margin-block: 1.4em;
    font-size: 0.9rem;
}

#get-gif-btn {
    background-color: whitesmoke;
    padding: 0.7em 2em;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease;
}

#get-gif-btn:hover, 
#get-gif-btn:focus {
    opacity: 0.9;
}

#get-gif-btn:active {
    scale: 0.95;
}

.disabled:hover {
    opacity: 0.8;
    cursor: not-allowed;
}


/* GIF Galary Styling */

#gif-display {
    display: none;
    position: absolute;
    left: 28%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#gif-display-main-container {
    position: relative;
}

#gif-container img{
    width: 130px;
    height: 130px;
}

.gifs-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2em;
    grid-gap: 2em;
    max-width: 100%;
    width: auto;
    height: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.gif {
    border-radius: 8px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
}

.gif:hover,
.gif:active {
    outline: 2px solid whitesmoke;
    cursor: pointer;
    scale: 1.1;
}

.close-gif {
    position: absolute;
    background-color: whitesmoke;
    float: right;
    color: brown;
    padding: 0.5em;
    top: 0%;
    left: 101%;
    transform: translate(-50px, -50px);
    border-radius: 7px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.close-gif:hover,
.close-gif:focus {
    background-color: brown;
}

.close-gif:hover svg {
    fill: whitesmoke;
}

.close-gif:active {
    scale: 0.95;
}

/* GIF display styling */

#gif-small-display {
    display: none;
    position: absolute;
    left: 75%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    min-width: 400px;
}

.gif-small-box {
    max-width: 500px;
    min-width: 400px;
    width: 100%;
    height: auto;
    border: 3px solid whitesmoke;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
}

.gif-small-box img {
    display: block;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    height: auto;
}
